<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Optimal WiFi Connector</title>
  <meta name="description" content="test-run">
  <meta name="author" content="Priyansh Saxena" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  
  <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='css/style.css') }}">
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dist/sweetalert.css') }}">
  <script>
	window.onload = function() {
	  swal({
		  title: "Welcome!",
		  text: "Optimal WiFi Connector",
		  type: "success",
		  timer: 3000,
		  showConfirmButton: false
		});
	};
  </script>
</head>
<body>

<div class="loader"></div>

<!-- particles.js container -->
<div id="particles-js">

<!-- scripts -->
<script src="{{ url_for('static', filename='js/particles.js') }}"></script>

<div id="cover">
	<!--<a href="http://localhost:8080/ServiceHealthCheck/"><button class="btn btn-success" style="width:12%;float:left;display:block;position:absolute;margin-left:45%;top:320px;">Begin Execution</button></a>-->
</div>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>

</div>

</body>
</html> 